<div class="right-link">
  {{link-to 'Repos' 'repos'}}
</div>
<h3>Pull Requests</h3>
<ul>
 {{#each model as |repo|}}
  <li>
    <h4>{{repo.name}}</h4>
    <p>{{repo.description}}</p>
  </li>
{{/each}}
</ul>
